# Dependências
node_modules/
**/node_modules/

# Variáveis de ambiente (NUNCA sobem pro Git)
.env
**/.env
.env.production
**/.env.production

# Uploads
# backend/uploads/*

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Arquivos temporários
test.txt
test2.txt
test3.txt

# VS Code
.vscode/

# Docker volumes locais

mysql_data/
