/* ==================================================
==================== Logout-empresario ==========================
================================================== */

/* ===== Configuração geral ===== */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 135vh;
}

/* ===== Conteúdo principal ===== */
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.login-box {
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  background: #fafafa;
}

.login-box p {
  color: #555;
  margin-bottom: 15px;
}

.login-box button {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.login-box button:hover {
  background: #333;
}


/* FOOTER */
footer iframe {
  min-height: 22rem;
  display: block;
}